/* Contact - Area */
.contact {
    padding: 5rem 0;
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    position: relative;
    background: #dad6d7;
    margin-bottom: 5rem;
}

/* Contact - Video Player */
.contact .video-container {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}


/* Contact - Message Box */
.contact .contact-info {
    background: #fffaeb;
    height: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    text-align: center;
    padding: 3rem 3rem 12rem 3rem;
    max-width: 505px;
    margin: 0 auto;
    margin-top: 2rem;
}

/* Contact Msg Box - Title */
.contact .contact-info .contact-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.5rem;
    color: #102a42;
}

/* Contact Msg Box - Underline */
.contact .contact-info .underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--mainColor);
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

/* Contact Msg Box - Text */
.contact .contact-info .description {
    max-width: 22rem;
    margin: 0 auto;
    line-height: 1.6;
    color: hsl(210deg 22% 39%);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.2rem;
}