/* Product - Main Div */
.product{
    padding: 4rem 3rem;
    background-color: #3a3e3b;
}


/* Product (Items, Text) - Main Container  */
.product .center-div{
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* Product Text Container - Section Alert Message */
.product .info-msg .section-heading{
    font-family: var(--headingFont);
    font-size: var(--fontSize);
    color: var(--greenColor);
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

/* Product Text Container - Section Heading */
.product .info-msg .heading{
    font-size: var(--fontSize);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* Product Text Container - Section Message */
.product .msg{
    margin: 1rem 0;
    color: white;
    max-width: 26rem;
}

/* Product Text Container - Inventory Button */
.product .learn-more{
    color: #3a3e3b;
    text-transform: uppercase;
    background: var(--greenColor);
    font-weight: bold;
    padding: 0.8rem 1.2rem;
    outline: 0.2rem solid var(--greenColor);
    outline-offset: 4px;
    display: inline-block;
    margin-top: 2rem;
    transition: var(--transition);
    margin-bottom: 2rem;
}
.product .learn-more:hover{
    opacity: 0.7;
    color: white;
}

/* Product Items Container */
.product .product-box{
    margin-top: 2rem;
}


/* Product Single Item */
.product .product-box .product-item{
    margin-top: 2rem;
}

/* Product Single Item - Image Div */
.product .product-box .product-item .img{
    width: 100%;
}
.product .product-box .product-item img{
    width: 100%;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

/* Product Single Item - Title */
.product .product-box .product-item .title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Product Single Item - Pricing */
.product .product-box .product-item .price{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--greenColor);
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}
.product .product-box .product-item .price small{
    margin-right: 0.5rem;
}